@import "../../variables";

#about {
  display: flex;
  flex-direction: column;
  position: relative;
  // background-color: $ballblue;
}

.about {

  &-copy {
    font-size: $font-md;
    margin-bottom: $mb-sm;
    line-height: 2.0;
  }

  &-text {
    font-size: 14px;
    line-height: 2.5;
    margin-bottom: 25px;
  }

  &-sec-left {
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
  
    &.inview {
      opacity: 1;
      transform: none;
    }
  }

  &-sec-right {
    // margin: 40px 0 0 -30px;
    position: relative;
    margin: 0;
    padding-left: 0;
    &::before{
      content: "";
      display: block;
    } 

    &::after{
      content: "";
      display: block;
    }
  }

  &-img01 {
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
    // box-shadow: 6px 7px 9px 0px grey;
    &.inview {
      transform: none;
      opacity: 1;
    }
    &-img {
      width: 75%;
    }
  }
  &-img02 {
    position: relative;
    width: 45%;
    // background-color: aquamarine;
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
    // box-shadow: 6px 7px 9px 0px grey;

    &-img {
    border-radius: 50%;

    }

    &.inview {
      opacity: 1;
      transform: none;
    }
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &-inner {
      position: absolute;
      top: -50%;
      left: 120%;
      width: 100%;
      height: 100%;
    }
  }



  &-btn {
    font-size: $font-md;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 7px;
    transition: all .3s;
    &:hover {
      color: $cBlack;
      background-color: $btnhover;
    }
    &-container {
      text-align: center;
      margin-top: 25%;
    }
  }
  

  &-link-btn {
    display: inline-block;
    }
  
}

.span-btn {
  display: inline-block;
  
}

.fa-volleyball-ball {
  font-size: $font-md;
}

.faa-bounce {
  animation-duration: 2s !important;
}



// about_mについて
#about_m {
  position: relative;
}



.about_m_container {
  margin: 0 auto;
  width: 90%;
}


// about_m_container関連
.about_m_title {
  position: relative;
  z-index: 3;
  top: 45%;
  left: 20%;
  transition: all 1s;
  transform: translateX(-30px);
  opacity: 0;
  color: white;
  &.inview {
    opacity: 1;
    transform: none;
  }
}
// ここまで



.about_m_item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 30px;
  & .about_m_img {
    position: relative;
    margin-left: auto;
    right: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
      content: "";
      display: block;
      padding-top: 61.4%;
    }
  }
  &:nth-of-type(1) {
    & .about_m_img {
      background-image: image-url('uniform.jpg');
    }
  }
  &:nth-of-type(2) {
    & .about_m_img {
      background-image: image-url('about2.JPG');
    }
  }
  &:nth-of-type(3) {
    & .about_m_img {
      background-image: image-url('about_bg_pic.jpg');
    }
  }
  &:nth-of-type(4) {
    & .about_m_img {
      background-image: image-url('volley3.jpg');
    }
  }
}

.about_m_item {
  &:nth-of-type(even) {
    & .about_m_img {
      margin-left: 0;
      margin-right: auto;
      right: auto;
      left: 0;
    }
    & .about_m_item_texts {
      -webkit-box-ordinal-group: 2;
      order: 3;
      margin-left: auto;
      transform: translateX(45px);
      &.fadeIn {
        opacity: 1;
        transform: none;
        & > h3 {
          transform: none;
        }
      }
        & h3 {
          flex-direction: row-reverse;
          transform: translateX(-50%);
          transition: all 1.3s;
        }
    }
  }
}




.about_m_item_texts {
    position: relative;
    z-index: 2;
    -webkit-box-ordinal-group: 2;
    order: 1;
    background-color: #fff;
    box-sizing: border-box;
    line-height: 1.4;
    opacity: 0;
    left: 0;
    transition: all 1s;
    transform: translateX(-45px);
    & h3 {
      font-size: 16px;
      margin-bottom: 20px;
      letter-spacing: 0.1em;
      display: flex;
      align-items: center;
      transform: translateX(50%);
      transition: all 1.3s;
      &::after {
        display: block;
        content: ' ';
        flex-grow: 1;
        margin: 0 1em;
        height: 2px;
        background-color: #9F9F9F;
      }
    }
    &.fadeIn {
      opacity: 1;
      transform: none;
      & > h3 {
        transform: none;
      }
    }
}

.about_m_header {
  position: relative;
  top: 0;
  margin-bottom: 10%;
  background-image: image-url('insta2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}







