@import "../../variables";

#about {
  display: flex;
  flex-direction: column;
  position: relative;
  // background-color: $ballblue;
}

.about {



  &-copy {
    font-size: $font-md;
    margin-bottom: $mb-sm;
    line-height: 2.0;
  }

  &-text {
    font-size: 14px;
    line-height: 2.5;
    margin-bottom: 25px;
  }

  &-sec-left {
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
  
    &.inview {
      opacity: 1;
      transform: none;
    }
  }

  &-sec-right {
    // margin: 40px 0 0 -30px;
    position: relative;
    margin: 0;
    padding-left: 0;
    &::before{
      content: "";
      display: block;
    } 

    &::after{
      content: "";
      display: block;
    }
  }

  &-img01 {
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
    // box-shadow: 6px 7px 9px 0px grey;
    &.inview {
      transform: none;
      opacity: 1;
    }
    &-img {
      width: 75%;
    }
  }
  &-img02 {
    position: relative;
    width: 45%;
    // background-color: aquamarine;
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
    // box-shadow: 6px 7px 9px 0px grey;

    &-img {
    border-radius: 50%;

    }

    &.inview {
      opacity: 1;
      transform: none;
    }
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &-inner {
      position: absolute;
      top: -50%;
      left: 120%;
      width: 100%;
      height: 100%;
    }
  }



  &-btn {
    font-size: $font-md;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 7px;
    transition: all .3s;
    &:hover {
      color: $cBlack;
      background-color: $btnhover;
    }
    &-container {
      text-align: center;
      margin-top: 25%;
    }
  }
  

  &-link-btn {
    display: inline-block;
    }
  
}

.span-btn {
  display: inline-block;
  
}

.fa-volleyball-ball {
  font-size: $font-md;
}

.faa-bounce {
  animation-duration: 2s !important;
}

