@import ".././../variables";

.contact_header {
  position: relative;
  display: inline;
  &::before {
    content:"";
    display:inline-block;
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30%;
  }
  &::after {
    content:"";
    display:inline-block;
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30%;
  }
}

.contact-area {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;


  & h2 {
    text-align: center;
    margin-bottom: $mb-md;
  }
  &-inner {
    background-color: $sepbg;
  }

  &-box {
    padding: 40px 30px;
    text-align: center;
  }
  &-link {
    border-radius: 7px;
    border: 1px solid;
    display: block;
    height: 50px;
    letter-spacing: 2px;
    background-color: $cWhite;
    transition: all .3s ease;
    width: 75%;

    &.loading {
      border-radius: 50px;
      width: 50px;
      background-color: $btnhover;
    }

    &:hover {
      background-color: $btnhover;
      color: $cBlack !important;
    }
  }

  &-icon {
    width: 25px;
    height: auto;
    margin: 0 auto 25px;
    &-mail {
      width: 25px;
    }
  }

  &-text {
    margin-bottom: 25px;
  }
}

.contact_m_header {
  position: relative;
  top: 0;
  margin-bottom: 10%;
}

/* Spinner */
.spinner {
  width: 40px;
  margin: -45px auto;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}