@import ".././../variables";



.contact-area {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
  padding: 45px 0px;

  & h2 {
    text-align: center;
    margin-bottom: $mb-md;
  }
  &-inner {
    background-color: #fbfaf5;
  }

  &-box {
    padding: 40px 30px;
    text-align: center;
  }
  &-link {
    border-radius: 7px;
    border: 1px solid;
    display: block;
    padding: 15px 0px;
    letter-spacing: 2px;
    background-color: $cWhite;
    transition: all .3s;
    width: 75%;
    &:hover {
      background-color: $btnhover;
      color: $cBlack !important;
    }
  }

  &-icon {
    width: 25px;
    height: auto;
    margin: 0 auto 25px;
    &-mail {
      width: 25px;
    }
  }

  &-text {
    font-size: $font-text;
    margin-bottom: 25px;
  }
}