@import "../../variables";

.footer{


  width: 90%;
  margin: 40px auto;
  max-width: 1070px;


  &__inner {
    flex-direction: column;
  }

  &__ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  &__li {
    margin-top: 20px;
    margin-left: 0;
    font-size: $font-text;
    &:hover {
      color: gray;
    }
  }

  & .logo {
    justify-content: center;
    font-size: $font-lg;
  }

  &__copyright {
    margin-top: 30px;
  }
}