@import "../../variables";


header {
  position: fixed;
  background-color: #f2f2f2;
}

.header{
  
  top:0;
  left:0;
  width: 100%;
  height: $navHeight;
  background-color:transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
      width: 90%;
      margin: 0 auto;
      max-width: $contentMaxWidth;
    
  }

  &__nav{
    display: none;
  }
  
  &__ul{
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      align-items: center;
  }
  
  &__li{
      margin-left: 40px;
      & .logout {
        color: red;
      }
      & > a {
        color: $cBlack;
        text-decoration: none;
        text-transform: uppercase;

      }
  }
  & .logo{
      justify-content: center;
      font-size: $font-lr;
      margin: 0;
      display: flex;
      align-items: center;

      &__img {
        height: 50px;
        width: 70px;
        object-fit: contain;
        margin-right:5px;
      }
  }
  &_btn {
    display: none;
  }
}


#header__li4 {
  position:relative;
  &::after {
   content:"";
   display:inline-block;
   width:3px;
   height:35px;
   background-color:#0097A7;
   position:absolute;
   top:-2px;
   left:115px;
  }
}



.logo__stay {
  &:hover {
    color: black;
  }
}

#header_log {
  color: red;
}

// 480px〜599px：SP横
// ------------------------------ 
@media (min-width: 480px) {

}

// 600px〜959px：600px以上のタブレットやモニタで適用
// ------------------------------ 
@media (min-width: 600px) {

}

 // 960px〜1279px：960px以上のモニタで適用
// ------------------------------ 
@media (min-width: 960px) {
  .header_btn {
    display: flex;
  }
}

// 1280px>=：1280px以上のモニタで適用
// ------------------------------ 
@media (min-width: 1280px) {

}
