@import "../../variables";


.header{
  
  top:0;
  left:0;
  width: 100%;
  height: $navHeight;
  background-color:transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
      width: 90%;
      margin: 0 auto;
      max-width: $contentMaxWidth;
    
  }

  &__nav{
    display: none;
  }
  
  &__ul{
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      align-items: center;
  }
  
  &__li{
      margin-left: 40px;
      & .logout {
        color: red;
      }
      & > a {
        color: $cBlack;
        text-decoration: none;
        text-transform: uppercase;

      }
  }
  & .logo{
      justify-content: center;
      font-size: $font-lg;
      margin: 0;
  }
  &_btn {

    display: flex;
  }
}

.logo__stay {
  &:hover {
    color: black;
  }
}

#header_log {
  color: red;
}