 <% if flash[:danger] %>
      <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
        <%= message %>
    </div>
  <% end %>
  <% else %>
  <% if logged_in? %>
    <p class="form-msg", style="color: green;">ログインしています。</p>
  <% else %>
    <p class="form-msg", style="color: red;">こちらは管理人専用ページです。</p>
  <% end%>
<% end %>