<div class="article-container-right">
     <div class="recent_entry_container">
        <div class="recent_header">
          Recent Entry
        </div>
        <%= render 'recent_entry' %>
      </div>  

      <div class="recent_entry_container">
        <div class="recent_header">
          Category
        </div>
        <div class="recent_c_body">
      <%= render partial: 'category', collection: @categories %>
        </div>  
      </div>
  </div>