<div class="article-container-left">

  <%#= render partial: 'article', collection: @articles %>
  <%# 省略 %>
  <%= render @articles%>



  <%#= render partial: 'category', article: article %>
<%# article.categories.each_with_index do |category, index| %>

                
<%= paginate @articles %>

</div>