<div class="article-container-right">
     <div class="recent_entry_container">
        <div class="recent_header">
          Recent Entry
        </div>
        <div class="recent-entry">
        <%= render 'recent_entry' %>
        </div>
      </div>  

      <div class="recent_entry_container">
        <div class="recent_header">
          Category
        </div>
          <%= render 'category'%>
      </div>
  </div>