<div class="recent_body">
  <% @articles.page(params[1]).limit(5).each do |article| %>
          <ul class="recent_ul">
            <li class="recent_li">
              <%= link_to article.title,article_path(article) %>
            </li>
          </ul>
    <% end %>
</div>