<% unless @recent_entries.blank? %>

<ul class="recent_ul">
    <% @recent_entries.each do |article| %>
    <li class="recent_li">
        <%= link_to article.title, article_path(article) %>
    </li>
    <% end %>
</ul>
<% end %>