<div class="article-container-left">  
    <div class="articles">  
     <%= render @article %>
     </div>
    <%= render 'edit_icons' %>
</div>

<%= render 'container_right' %>



<div class="modal js-modal">
  <div class="modal__bg js-modal-close"></div>
  <div class="modal__content">
      <%= render 'edit_form' %>
  </div><!--modal__inner-->
</div><!--modal-->




