<% provide(:title, "About") %>


<div class="about_m_header">
  <h2 class="about_m_title">About</h2>
</div>

<section id="about_m">
<div class="about_m_inner">
<h2></h2>
      <div class="about_m_wrapper">
        <div class="about_m_item">
          <div class="about_m_item_texts">
            <h3>FORZA結成!</h3>
            <div class="about_m_inner_texts">2018年から始動した発展途上のチームです。<br>数少ない大会や練習試合に向けて週2回(水曜、土曜)で練習しています。</div>
          </div>
          <div class="about_m_img"></div>
          </div>
        </div>
        <div class="about_m_item">
          <div class="about_m_item_texts">
            <h3>活動理念</h3>
            <div class="about_m_inner_texts">メンバーひとりひとりが自身のプレーに責任意識を持つ、成年のためのチームであれ。<br>自身の思考、発想を言語化し、バレーボールを通して表現できる場であれ。</div>
          </div>
          <div class="about_m_img"></div>
          </div>
        <div class="about_m_item">
          <div class="about_m_item_texts">
            <h3>目標</h3>
            <div class="about_m_inner_texts">全国大会出場を目標に掲げ、練習に励んでいます。目標を共にし、切磋琢磨し、喜びを分かち合えるチチームを目指します。</div>
          </div>
          <div class="about_m_img"></div>
          </div>
        <div class="about_m_item">
          <div class="about_m_item_texts">
            <h3>募集</h3>
            <div class="about_m_inner_texts">バレーボールを本気でしたい、上手くなりたいという熱い気持ちを持つ人は是非一度練習にご参加ください。<br>練習試合のお誘いもCONTACTからお願いします。</div>
          </div>
          <div class="about_m_img"></div>
          </div>
        </div>

        </div>
      </div>
</div>
</section>





<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script> 

</script> 