<% provide(:title, "Home") %>


    


      <%# headerの呼び出し　%>

      <div id="container">
        <div id="content">
          <div class="first">
              <div class="first__wrapper">
                <div class="first__title">
                  <p class="first__title-p">We are FORZA</p>
                <div class="first__img">
                </div>
                <div class="first__img">
                </div>
                <div class="first__img">
                </div>
                <a href="#about" class="first__footer">
                  <span>scroll</span>
                </a>
              </div>
            </div>
          </div>
          <div id="main-content">
            <main>
              <section id="about">
                <div class="about-sec-left">
                  <h2>ABOUT</h2>
                  <p class="about-copy">
                  金沢のバレーサークル
                  <br>
                  FORZA金沢です
                  </p>
                  <p class="about-text">
                  石川県金沢市で活動しているバレーボール成年のチームです。
                  大会や練習試合に向けて週二回(水曜、土曜)で練習しています。<br>
                  バレーボールを本気でしたい、上手くなりたいという熱い気持ちを持つ人はぜひ練習にご参加ください!!
                  </p>
              </div>
               <div class="about-btn"> 
                    <button class="btn">
                      <%= link_to "もっと詳しく", about_path, class: "about-btn2" %>
                    </button>
                  </div>
              <div class="about-sec-right">
                <div class="about-img01">
                  <img src="/assets/insta1.png" class="about-img01-img" alt="">
                </div>
                <div class="about-img02">
                  <div class="about-img02-inner">
                    <img src="/assets/insta2.png" class="about-img02-img" alt="">
                  </div>
                </div>
              </div>
              </section>

                           <section class="contact-area">
                <h2>CONTACT</h2>
                <div class="contact-area-inner">
                  <div class="contact-area-box">
                    <p class="contact-area-icon">
                      <img src="/assets/mail_icon.svg" alt="" class="contact-area-icon-mail">
                    </p>
                    <p class="contact-area-text">
                      ご質問、練習試合のお誘いなど<br>
                      下記のMAILからお願いします。
                    </p>
                    <%# <a href="" class="contact-area-link">MAIL</a> %>
                     <%= link_to "MAIL", contact_path, class: "contact-area-link" %>
                  </div>
                </div>
              </section>
           


            </main>
          </div>
        </div>
      </div>
    
    
 
