<% provide(:title, "Home") %>


    


      <%# headerの呼び出し　%>

      <div id="container">
        <div id="content">
          <div class="first">
              <div class="first__wrapper">
                <div class="first__title">
                  <p class="first__title-p">We are FORZA</p>
                <div class="first__img">
                </div>
                <div class="first__img">
                </div>
                <div class="first__img">
                </div>
                <a href="#about" class="first__footer">
                  <span>scroll</span>
                </a>
              </div>
            </div>
          </div>
          <div id="main-content">
              
            <%= render 'layouts/about'%>

            <%= render 'layouts/article_area'%>
              
            <%= render 'layouts/contact'%>

            <%#= render 'layouts/access'%>

            <%= render 'layouts/calender'%>
            

          </div>
        </div>
      </div>

      
    
    
 
