@import "../variables";
@import "../mixin";
@import "../loader";

.about-img02 {
  // width: 30%;
}

.article-area {
  padding-top: 0;
}

#top_posts {
  margin-top: 70px;
}
// asideを表示
.side {
  display: block;
}
.side_inner {
  display: flex;
}
// ここまで

.article-container {
  &-left {
    width: 60%;
  }
}