@import "../variables";
@import "../mixin";
@import "../loader";

.about-img02 {
  // width: 30%;
}

.article-area {
  padding-top: 0;
}

// asideを表示
.side {
  display: block;
}
.side_inner {
  display: flex;
}
// ここまで