// ベーススタイル

@import "../variables";
@import "../mixin";
@import "../loader";

 
html {
  font-size: 62.5%;
}

body{
  font-family: 'Montserrat','Noto Sans JP', sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.2rem;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
  font-size: 100%;
}

a {
  // color: $cBlack !important;
  &:hover {
    color: $cBgGray !important;
    text-decoration: none !important;
  }
}

#container {
  transition: transform 0.5s, box-shadow 0.5s ;
  background-color: $cWhite;
  position: relative;
  z-index: 10;
}

img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.font-text {
  font-size: $font-text;
}

.font-sm {
  font-size: $font-sm;
}

.font-p {
  font-size: $font-p;
}

.font-md {
  font-size: $font-md;
}

.font-lr {
  font-size: $font-lr;
}

.font-lg {
  font-size: $font-lg;
}

.mb-sm {
  margin-bottom: $mb-sm;
}

.mb-contact {
  margin-bottom: $mb-md;
}

.mb-lg {
  margin-bottom: $mb-lr;
}
// bootstrap spacing
.pb-sm {
  padding-bottom: $mb-sm;
}

.pb-lg {
  padding-bottom: $mb-lr;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

#main-content {
  margin-top: 50px;
}

h2{
  font-weight: 200;
  font-size: $font-p;
}

#about{
  @extend .content-width;
}




.logo {
  font-size: 34px;
  display: flex;
  align-items: center;
  &__img{
    width: 90px;
    height: 65px;
    object-fit: contain;
    margin-right:5px;
  }
}

// inquiry
.contact_intro {
  margin-bottom: 75px;
}

#inquiry_container {
  width: 90%;
  margin: 0 auto;
}

#inquiry {
  &_name {
    background-color: #f7f7f7;
  }
  &_email {
    background-color: #f7f7f7;
  }
  &_message {
    background-color: #f7f7f7;
  }
}

.underline {
  border-bottom: 1px solid red;
}

.otoiawase {
  margin-bottom: $mb-form;
  &::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #000;
    margin-top: 15px;
  }
  &_p {
    margin-bottom: $mb-form;
  }
}

.form {
  &-group{
    margin-bottom: $mb-form !important;
    display: flex;
    flex-direction: column;

  }
  &-controll{
    background-color: yellow;
  }

  &-last {
    margin-top: 75px;
    margin-bottom: 100px;
  }

}

.field_container {
  width: 100%;
}

.label_container {
  width: 100%;
}


// flash
.alert {
  text-align: center;
  padding: 15px 0px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px !important;
}

.alert-faile {
    border: 1px solid red !important;
    color: red;
}

.alert-gotit {
    border: 1px solid green !important;
    color: green;
}

// articleゾーン

.article {
  &_body {
    font-size: $font-sm;
  }
}

.edit-icons {
  padding: 10px 5px;
}

.fa {
  &-trash {
  font-size: 25px;
  padding-left: 5px;
  color: gray;
  }
  &-edit {
  font-size: 25px;
  padding-left: 5px;
  color: gray;
  }
  &-list-ul {
  font-size: 25px;
  padding-left: 5px;
  color: gray;
  }
} 