// ベーススタイル

@import "../variables";
@import "../mixin";
@import "../loader";

 
html {
  font-size: 62.5%;
}

body{
  font-family: 'Montserrat','Noto Sans JP', sans-serif;
  letter-spacing: 0.2rem;
}



a {
  // color: $cBlack !important;
  &:hover {
    color: red;
    text-decoration: none !important;
  }
}

#container {
  transition: transform 0.5s, box-shadow 0.5s ;
  background-color: $cWhite;
  position: relative;
  z-index: 10;
}

img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.font-text {
  font-size: $font-text;
}

.font-sm {
  font-size: $font-sm;
}

.font-p {
  font-size: $font-p;
}

.font-md {
  font-size: $font-md;
}

.font-lr {
  font-size: $font-lr;
}

.font-lg {
  font-size: $font-lg;
}

.mb-sm {
  margin-bottom: $mb-sm;
}

.mb-contact {
  margin-bottom: $mb-md;
}

.mb-lg {
  margin-bottom: $mb-lr;
}
// bootstrap spacing
.pb-sm {
  padding-bottom: $mb-sm;
}

.pb-lg {
  padding-bottom: $mb-lr;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

// #main-content {
//   margin-top: 50px;
// }



header {
  position: fixed;
  background-color: #f2f2f2;
}

.form {
  &-group{
    margin-bottom: $mb-form !important;
    display: flex;
    flex-direction: column;
  }
  
  &-controll{
    background-color: yellow;
  }

  &-last {
    margin-top: 75px;
    margin-bottom: 100px;
  }

}





// flash

// articleゾーン



.edit-icons {
  padding: 10px 5px;
  display: flex;
}

.fa {
  &-trash {
  font-size: 25px;
  padding-left: 5px;
  color: gray;
  }
  &-edit {
  font-size: 25px;
  padding-left: 5px;
  color: gray;
  }
  &-list-ul {
  font-size: 25px;
  padding-left: 10px;
  color: gray;
  }
} 

.btn_trash { 
  border: none;
  background-color: white;
  padding: 0px;
}









// contact






.form {
  font-size: 14px;
}

.contact_intro {
  font-size: 14px;
  line-height: 30px;
}
// ここまで



// ここまで

// access-area
.access-area {
  padding-top: 30%;
  width: 90%;
  margin: 0 auto;
  & h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.googlemap {
  // display: none;
  margin-top: 20%;
}

// ここまで





// ここまで

// news2ページ

#top_posts {
  width: 100%;
  margin-top: 20px;
}
// ここまで


// aboutシリーズ



.about {
  &-img02 {
    position: relative;
    width: 45%;
    // background-color: aquamarine;
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
    &.inview {
      opacity: 1;
      transform: none;
    }
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}
// ここまで


// map
.googlemap {
  flex-basis: 45%;
  overflow: hidden;
  position: relative;
}

// ここまで


// asideはスマホでは非表示
.side {
  display: none;
  position: fixed;
  top: 60%;
  // transform: translateY(-50%);
  transition: all .3s ease-in;
  &.left {
    left: -50px;

    &.inview {
      left: 50px;
    }

    & .side_inner {
      transform: rotate(-90deg);
      transform-origin: top left;
    }
  }
  &.right {
    right: -50px;
    &.inview {
      right: 50px;
    }

    & .side_inner {
      transform: rotate(90deg);
      transform-origin: top right;
    }
  }
}



.fade-up {
  opacity: 0;
  transform : translate(-50%, 0);
  transition : all 3s;
}



.effect-scroll{
  opacity : 1;
  transform : none;
}


.about_m_copy {
  font-size: 21.5px;
  padding-top: 10px;
}



.news_m_header {
  padding-top: 100px;

  position: relative;
  top: 0;
  margin-bottom: 10%;
}

.news_m_title {
  font-size: 5.8vw;
}
.contact_m_header {
  padding-top: 100px;
  height: 480px;
  position: relative;
  top: 0;
  margin-bottom: 10%;
}

.contact_m_title {
  font-size: 5.8vw;
}


#map_container {
    width: 90%;
    max-width: 1050px;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    & h2 {
      text-align: center;
      // margin-bottom: 10%;
    }
}




.modal__content{
  background: #fff;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 90%;
  // heightを指定する必要がある
  overflow-y:scroll;
}



#post-success-msg{
  width: 40%;
}

