@import "../variables";
@import "../mixin";
@import "../loader";

.flex{
  flex-direction: row;
  flex-wrap: wrap;
}




.about {
  &__texts,
  &__img {
    flex-basis: 47%;
  }

  &__texts {
    display: flex;
    align-items: flex-end;
  }
  &__inner {
    padding: 50px;
    // width: 240%;
  }
  &-img02{
      width: 45%;
  }
}

.footer{
  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__ul {
    flex-direction: row;
  }

  &__li {
    margin-left: 40px;
    font-size: $font-sm;
  }
}

.article {
  &_body {
    font-size: $font-p;
  }
}

.article-container {
  display: flex;
  justify-content: center;
  width: 80%;
  &-right {
  margin-top: 85px;
  }
  &-left {
    width: 70%;
    padding-right: 10%;
  }
}


.news_text {
  font-size: 16px;
  word-wrap: break-word;
}



.googlemap {
  // padding-bottom: 50%; 
}

// about_m
.about_m_header {
  padding-top: 45px;
  margin-bottom: 10%;
}

// ここまで

.trix-content {
  font-size: 16px;
}

.recent_ul{
  padding-left: 8%;
}
.article-container-right {
  flex-basis: 25%;
}