@import "../variables";
@import "../mixin";
@import "../loader";

.flex{
  flex-direction: row;
  flex-wrap: wrap;
}



.about {
  &__texts,
  &__img {
    flex-basis: 47%;
  }

  &__texts {
    display: flex;
    align-items: flex-end;
  }
  &__inner {
    padding: 50px;
    // width: 240%;
  }
  &-img02{
      width: 45%;
  }
}

.footer{
  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__ul {
    flex-direction: row;
  }

  &__li {
    margin-left: 40px;
    font-size: $font-sm;
  }
}

.article {
  &_body {
    font-size: $font-p;
  }
}

.news_text {
  font-size: 16px;
}



.googlemap {
  // padding-bottom: 50%; 
}