@import "../variables";
@import "../mixin";
@import "../loader";

// 横幅のサイズ
#about {
  width: 80%;
  padding-top: 10%;
}
.article-area {
  width: 80%;
}

#calender_container {
  width: 80%;
}


// ここまで

.first{
  height: 700px;
}

.mobile-menu{
  &__btn {
    display: none;
    z-index: 300;

  }
}

.header{
  &__nav{
    display: block;
  }

  &__li {
    font-size: $font-md;
    
  }
}

#about {
  display: flex;
  flex-direction: row;
}

.about {

  &-copy {
    font-size: $font-lg;
    margin-bottom: $mb-sm;
    line-height: 2.0;
  }

  &-text {
    font-size: $font-lr;
    line-height: 2.5;
    margin-bottom: 25px;
  }

  &-sec-right {
      position: relative;
      margin: 0;
      padding-left: 75px;

    &::before{
      content: "";
      display: block;
    } 

    &::after{
      content: "";
      display: block;
    }
  }

  &-img01 {
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
    &.inview {
      transform: none;
      opacity: 1;
    }
    &-img {
      width: 100%;
    }
  }
  &-img02 {
    position: relative;
    width: 50%;
    // background-color: aquamarine;
    transition: all 1s;
    transform: translateY(10px);
    opacity: 0;
    &.inview {
      opacity: 1;
      transform: none;
    }
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  &-btn-container {
    // margin-top: 40%;
    &2 {
      display: none;
    }
    display: block;
  }
}

.contact-area {
  // width: 900px;
  &-link {
    margin: 0 auto;
    width: 600px;
  }
}

h2 {
  font-weight: 400;
  font-size: $font-md;
}

#header__li4 {
  position:relative;
  &::after {
   content:"";
   display:inline-block;
   width:3px;
   height:35px;
   background-color:#0097A7;
   position:absolute;
   top:-2px;
   left:115px;
  }
}

// flash
.alert {
  width: 65%;
  margin-bottom: 55px;
}

.contact_intro {
  margin-top: 75px;
}

#inquiry_container {
  max-width: 760px;
  margin: 0 auto;
}

.field_container {
  width: 60%;
}

.label_container {
  width: 260px;
}

.form {
  &-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

// newsシリーズ

.top_news_btn {
  transform: translateX(-30%);
}

.news_date {
  margin-bottom: 40px;
}

.news_text {
  font-size: 18px;
}

.img_fit {
  width: 100%;
}

// ここまで

// caategoryシリーズ

.category{
  &_header {
    font-size: 12px;
  }
  &_li {
    font-size: 14px;
  }

}

// ここまで

// contact

.contact-area-text {
  font-size: 14px;
}

.contact-area-link {
  font-size: 16px;
}

// ここまで

// newspage
.news_date {
  margin-bottom: 40px;
}

#top_news_container {
  // width: 60%;
}
.article-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  &-right {
  margin-top: 66px;
  }
}

.recent_entry_container {
  font-size: 1.1em;
}

// ここまで


// news2ページ

#top_posts {
  width: 80%;
  margin: 0 auto;
}

.top_news_btn2 {
  transform: translateX(-45%);
}

.pagination {
  font-size: 130%;
}
// ここまで


// schedule
.schedule-area {
  padding-top: 20%;
}
// ここまで