// colors

$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$btnhover: #f1e4cf;
$ballyeloow:#FFA541;
$ballblue: #2391EB;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$articleBorder: #8fc2dc;
$readMore: #FFC107;
$sepbg: #fbfaf5;
$create: #536DFE;
$twitter: #1DA1F2;


// font-size

$font-text: 12px;
$font-sm:   14px;
$font-p:    16px;
$font-lr:   18px;
$font-md: 21.5px;
$font-lg:   25px;
$font-tab-main: 28px;
$font-lap-main: 38px;
$font-full-main: 48px;

// margin
$mb-text-sm: 12px;
$mb-sm: 16px;
$mb-form: 30px;
$mb-md: 40px;
$mb-60: 60px;
$mb-lr: 80px;

// padding
$pd-text-sm: 12px;
$pd-sm: 16px;
$pd-form: 30px;
$pd-md: 40px;
$pd-60: 60px;
$pd-lr: 80px;
