// colors

$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$btnhover: #f1e4cf;
$ballyeloow:#FFA541;
$ballblue: #2391EB;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$articleBorder: #8fc2dc;
$readMore: #FFC107;
$contactbgc: #fbfaf5;

// font-size

$font-text: 12px;
$font-sm:   14px;
$font-p:    16px;
$font-md: 21.5px;
$font-lr:   17px;
$font-lg:   25px;

// margin

$mb-sm: 16px;
$mb-form: 30px;
$mb-md: 40px;
$mb-lr: 80px;
