// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

.category {
  &_container{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #d7ccc8;
    height: auto;
  }
  &_header {
    margin: 15px;
    padding-right: 15px;
    border-right: solid 1px #d7ccc8;
    font-size: $font-text;
  }
  &_ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
    font-size: 12px;
    margin-bottom: 0;
  }
  &_li {
    padding: 10px 0px 10px 3px;
    font-size: $font-text;
    font-weight: 400;
  }
  &_comma {
    padding: 10px 0;
  }
  &_block {
    border: 1px solid black;
  }
}


// 480px〜599px：SP横
// ------------------------------ 
@media (min-width: 480px) {

 
// 600px〜959px：600px以上のタブレットやモニタで適用
 // ------------------------------ 
@media (min-width: 600px) {
    // categoryシリーズ
   .category {
      &_header, &_ul, &_li {
        font-size: $font-sm;
      }
    }
  }
}
 
// 960px〜1279px：960px以上のモニタで適用
 // ------------------------------ 
@media (min-width: 960px) {
  .category {
    &_header, &_ul, &_li {
      font-size: $font-p;
    }
    &_header {
      margin: 25px;
    }
  }
}
 
// 1280px>=：1280px以上のモニタで適用
 // ------------------------------ 
@media (min-width: 1280px) {

}
