@import 'variables';

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $readMore !important;
  border-color: $readMore !important;
}

.pagination > li > a, .pagination > li > span {
  color: gray !important;
}

.pagination > li .page-item .disabled {
  display: none !important;
}


