@import 'variables';

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $readMore !important;
  border-color: $readMore !important;
}

.pagination > li > a, .pagination > li > span {
  color: gray !important;
}

.pagination > li .page-item .disabled {
  display: none !important;
}


.kaminari {
  padding-top: 10%;
}

// 600px〜959px：600px以上のタブレットやモニタで適用
// ------------------------------ 
@media (min-width: 600px) {
  .sns-area {
    width: 90%;
    & h2 {
        font-size: $font-md;
        margin-bottom: $mb-form;
    }
    &-inner {
      font-size: $font-sm;
    }
  }
  .pagination {
    font-size: 130%;
  }
}
   
// 960px〜1279px：960px以上のモニタで適用
// ------------------------------ 
 @media (min-width: 960px) {

 }
   
// 1280px>=：1280px以上のモニタで適用
// ------------------------------ 
@media (min-width: 1280px) {
  
}