<div class="article-container-left">

  <%#= render partial: 'article', collection: @articles %>
  <%# 省略 %>
  <div class="articles">
  
  <%= render @articles_category %>
  </div>


  <%#= render partial: 'category', article: article %>
<%# article.categories.each_with_index do |category, index| %>

                
  <%= paginate @articles_category, remote: true %>


</div>