<div class="about_bg">
<section id="about">
  <div class="about-sec-left">
    <h2>ABOUT</h2>
    <p class="about-copy">
    金沢のバレーサークル
    <br>
    FORZA金沢です
    </p>
    <p class="about-text">
    石川県金沢市で活動しているバレーボール成年のチームです
    大会や練習試合に向けて週2回(水曜、土曜)で練習しています<br>
    バレーボールを本気でしたい、上手くなりたいという熱い気持ちを持つ人はぜひ練習にご参加ください!!
    </p>
    <div class="about-btn-container">
      <%= link_to about_path ,class: "about-link-btn" do %>
      <div class="about-btn faa-parent animated-hover">
        <i class="fas fa-volleyball-ball faa-bounce"></i>
        もっと詳しく
      </div>
      <% end %>
    </div>
  </div>
  <div class="about-sec-right">
    <div class="about-img01">
      <%= image_tag asset_path('insta1.png'), class: "about-img01-img" %>
    </div>
    <div class="about-img02">
      <div class="about-img02-inner">
        <%= image_tag asset_path('insta2.png'), class: "about-img02-img" %>
      </div>
  </div>
  <div class="about-btn-container2">
      <%= link_to about_path ,class: "about-link-btn" do %>
      <div class="about-btn faa-parent animated-hover">
        <i class="fas fa-volleyball-ball faa-bounce"></i>
        もっと詳しく
      </div>
      <% end %>
  </div>
</section>
</div>