<section class="access-area">
   <h2>ACCESS</h2>

    <div>
      <dl>
        <dt>
          活動場所
        </dt>
        <dd>
          水曜日&nbsp金沢市立野田中学校<br>
          土曜日&nbsp※不定(<%=link_to "News", news_path%>にてご確認ください)
        </dd>
      </dl>
      <dl>
        <dt>
          時間
        </dt>
        <dd>
          水曜日&nbsp19:00~21:00<br>
          土曜日&nbsp※カレンダーをご確認ください
        </dd>
      </dl>
    </div>


</section>
