<section class="schedule-area">
   <h2>SCHEDULE</h2>
        <div id="calender_container">
            <div id="calender"></div>
            
            <div class="calender-text">
                <span class="blue"></span>は練習予定日です。<br>
                <div>
                    <dl>
                        <dt>
                        活動場所
                        </dt>
                        <dd>
                        水曜日&nbsp金沢市立野田中学校<br>
                        土曜日&nbsp※不定(<%=link_to "News", articles_path%>にてご確認ください)
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                        時間
                        </dt>
                        <dd>
                        水曜日&nbsp19:00~21:00<br>
                        土曜日&nbsp※カレンダーをご確認ください
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="googlemap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.4054647491375!2d136.6558108242214!3d36.54433536650751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff834148b531bf9%3A0x36b5597c1977aa5f!2z6YeR5rKi5biC56uL6YeO55Sw5Lit5a2m5qCh!5e0!3m2!1sja!2sjp!4v1627028446310!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
             </div>
         </div>
</section>