             <section class="contact-area">
                <h2>CONTACT</h2>
                <div class="contact-area-inner">
                  <div class="contact-area-box">
                    <p class="contact-area-icon">
                      <img src="/assets/mail_icon.svg" alt="" class="contact-area-icon-mail">
                    </p>
                    <p class="contact-area-text">
                      ご質問、練習試合のお誘いなど<br>
                      下記のMAILからお願いします。
                    </p>
                    <%# <a href="" class="contact-area-link">MAIL</a> %>
                     <%= link_to "MAIL", contact_path, class: "contact-area-link" %>
                  </div>
                </div>
              </section>