      <footer class="footer">
        <div class="footer__inner">
          <div class="logo">
            <img src="/assets/logo.svg" alt="" class="logo__img">
            <div class="logo__stay">FORZA</div>
          </div>
          <nav class="footer__nav">
            <ul class="footer__ul">
              <li class="footer__li"><a href="#">Home</a></li>
              <li class="footer__li"><a href="#">About</a></li>
              <li class="footer__li"><a href="#">Activity</a></li>
              <li class="footer__li">
                <a href="#">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__copyright">
          &copy; 2021 FORZA kanazawa
        </div>
      </footer>
 