      <header class="header">
        <div class="header__inner">
          <div class="logo">
            <img src="/assets/logo.svg" alt="" class="logo__img">
            <div class="logo__stay">FORZA</div>
          </div>
          <nav class="header__nav">
            <ul class="header__ul">
              <li class="header__li"><a href="#">Home</a></li>
              <li class="header__li"><a href="#">About</a></li>
              <li class="header__li"><a href="#">News</a></li>
              <li class="header__li" id="header__li4"><a href="#">Contact</a></li>
              <% if logged_in? %>
              
              <li>
                <%= link_to "Log out", logout_path, method: :delete, :class => 'header__li'%>          <!-- ログアウトリンク-->
              </li>
              <% end %>
            </ul>
          </nav>
          <button class="mobile-menu__btn">
              <span></span>
              <span></span>
              <span></span>
          </button>
        </div>
              <div class="mobile-menu__cover">
        <nav class="mobile-menu">
          <ul class="mobile-menu__main">
              <li class="mobile-menu__item">
                  <a class="mobile-menu__link" href="#">
                      <span class="main-title">Home</span>
                      <%# <span class="sub-title">サービスについて</span> %>
                  </a>
              </li>
              <li class="mobile-menu__item">
                  <a class="mobile-menu__link" href="#">
                      <span class="main-title">About</span>
                      <%# <span class="sub-title">私たちについて</span> %>
                  </a>
              </li>
              <li class="mobile-menu__item">
                  <a class="mobile-menu__link" href="#">
                      <span class="main-title">News</span>
                      <%# <span class="sub-title">コンタクト方法</span> %>
                  </a>
              </li>
              <li class="mobile-menu__item">
                  <a class="mobile-menu__link" href="#">
                      <span class="main-title">Contact</span>
                      <%# <span class="sub-title">コンタクト方法</span> %>
                  </a>
              </li>
               <% if logged_in? %> 
              <li class="mobile-menu__item">
                <%= link_to "Log out", logout_path, method: :delete, :class => 'logout' %>          <!-- ログアウトリンク-->
              </li>
              <% end %>
          </ul>
        </nav>
      </div>
      </header>