<section class="map-area">


  <h2>Access</h2>
  <div id="calender_container">

  <div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12821.57539695045!2d136.6580156!3d36.5446155!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36b5597c1977aa5f!2z6YeR5rKi5biC56uL6YeO55Sw5Lit5a2m5qCh!5e0!3m2!1sja!2sjp!4v1628321667950!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div>
    <dl>
      <dt>
       活動場所
      </dt>
        <dd>
          水曜日&nbsp金沢市立野田中学校<br>
          土曜日&nbsp※不定(<%=link_to "News", articles_path%>にてご確認ください)
        </dd>
    </dl>
  </div>
</div>

</section>



<%#
<script>
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
 %>