              <section class="sns-area">
                <h2>SNS</h2>
                <div class="sns-area-inner">
                  <div class="sns-left">
                    <a href="" class="sns-twitter-link">TWITTER</a>
                  </div>
                  <div class="sns-right">
                    <a href="" class="sns-instagram-link">INSTAGRAM</a>
                  </div>
                </div>
              </section>