              <section class="sns-area">
                <h2>SNS</h2>
                <div class="sns-area-inner">
                  <div class="sns-left">
                    <%= link_to "https://www.instagram.com/forza_kanazawa/" ,class: "sns-link" do %>
                      <div class="faa-parent animated-hover">
                      <i class="fab fa-twitter faa-wrench animated-hover"></i>
                      <span>TWITTER</span>
                      </div>
                    <% end %>
                  </div>
                  <div class="sns-right">
                    <%= link_to "https://www.instagram.com/forza_kanazawa/" ,class: "sns-link" do %>
                      <div class="faa-parent animated-hover">
                      <i class="fab fa-instagram faa-pulse animated-hover"></i>
                      <span>INSTAGRAM</span>
                    </div>
                <% end %>
                  </div>
                </div>
                <a href="#" class="faa-parent animated-hover">
                <i class="faa-wrench animated"></i>
                </a>
                
              </section>